body {
  font-family: sans-serif;
  margin: 1rem;
  padding: 0;
}
h1, h2 {
  text-align: center;
}
#pick-form {
  margin: 1rem 0;
  text-align: center;
}
select, button {
  font-size: 1.1rem;
  margin: 0.5rem;
  padding: 0.6rem;
  width: 90%;
  max-width: 300px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  padding: 0.5rem 0;
  font-size: 1.05rem;
}